/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Colors*/
$grey-dark: #888;
$grey-light: #efefef;
$grey-hover: dodgerblue;
$opaque-black: dodgerblue;
$white: #fff;
$black: #000;




